.mainList {
    background: var(--white);
    width: 100%;
    padding: 20px 10px;
  }
  
  .mainList h1 {
    display: inline;
    font-family: serif;
  }

  .mainList h2.titleUsers {
    margin-top: 20px;
  }
  
  .mainList table {
    margin-top: 2rem;
    box-shadow: var(--box-shadow);
  }
  
  .mainList table th {
    background: #f83737;
    border: 1px solid var(--light);
    border-radius: 0.3em;
    color: var(--light);
    font-family: 'Times New Roman', Times, serif;
  }
  
  .mainList table tr td{
    text-align: center;
    border: 1px solid var(--light);
  }
  
  .mainList table tr td.btn-action {
    display: flex;
    justify-content: space-evenly;
  }
  
  .mainList table tr td.btn-action i {
    font-size: 20px;
    width: 40px;
    border-radius: 0.5em;
    color: var(--light);
    text-align: center;
    cursor: pointer;
  }

  .mainList table tr td.btn-action i:hover {
    color: #f83737;
  }

  .user-image {
    width: 2cm;    /* Width of the image */
    height: 2cm;   /* Height of the image */
    border-radius: 50%;   /* Makes the image circular */
    object-fit: cover;    /* Ensures the image covers the area without stretching */
  }
  