.details{
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

/*--- Images ---*/
.imagesContainer{
    width: 700px;
    margin: 10px 30px;
}
.imagesContainer .P-image{
    width: 100%;
    border-radius: 10px;
    margin: 10px 0 10px 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.imagesContainer .S-image{
    width: 100px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.imagesContainer .S-image:hover, .imagesContainer .P-image:hover{
    transform:scale(1.06);
}
.secondary-images{
    display: flex;
    overflow-y: hidden;
    width: 700px;
    height: 100px;
    border-radius: 12px;
}



/*Information sur le bien */

.belongInformations{
    display: flex;
    flex-direction: column;
    margin: 15px 30px ;
    max-width: 950px;
    color: var(--lignt);
}
.belongInformations h1{
    font-size: 60px;
}
.belongInformations .price{
    font-size: 40px;
}
.belongInformations h5{
    font-size: 20px;
    color: var(--lignt);
    font-weight: 200;
    margin:10px;
}
.belongInformations .belongDescription{
    text-align: justify;
}
.belongInformations .description{
    font-weight: bold;
}
.belongInformations h4{
    font-size: 30px;
    margin-top: 1px 10px;
}

/*--- Formulaire contact agent ---*/

.contactAgent{
    margin: 100px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contactAgent textarea{
    width: 600px;
    height: 100px;
    padding: 10px;
    border: 2px solid;
    margin: 5px;
    border-radius: 12px;
}
.contactAgent button{
    width: 600px;
    height: 40px;
    border: 1px solid var(--fuscha);
    background: var(--fuscha);
    color: var(--white);
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s ease;
}

.contactAgent button:hover{
    color: var(--lignt);
    background: none;
}
.contactAgent .sent:hover{
    background: var(--fuscha);
    color: var(--white);
    cursor: auto;
}
/*Agrandir l'image */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--lignt);
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev{
    left: 0;
}
.prev:hover, .next:hover {
    background-color:var(--lignt);
    color: var(--white);
}
.succes-message{
    color: green;
    font-size: 60px;
}
 /*Responsive */
@media screen and (max-width:800px) {
    .details{
        display: block;
    }
    .imagesContainer{
        width: 100%;
        margin-right: 10px;
    }
    .belongInformations h1{
        font-size: 40px;
    }
    .belongInformations .price{
        font-size: 30px;
    }
    .belongInformations h5{
        font-size: 18px;
    }
    .belongInformations .localisation {
        font-size: 20px;
    }
    .contactAgent{
        margin-top: 20px;
    }
    .contactAgent textarea{
        width: 350px;
        margin: 5px;
    }
    .contactAgent button{
        width: 350px;
    }
    .secondary-images{
        width: 350px;
    }
}

/*Boutton message envoyé*/