/* Styles pour la section de connexion */


/* Styles pour le formulaire de connexion */
.auth-form {
    background-color: var(--var(--white));
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    width: 100%;
    max-width: 1000px; 
    height: 800px;
    display: flex;
    flex-direction: row;
    margin: 0 20px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.auth-image {
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lignt);
}

.auth-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

form {
    flex: 1.5; /* Augmenter la proportion du formulaire */
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--lignt);
    text-align: center;
}

.row {
    margin-bottom: 15px;
}

label {
    font-size: 16px;
    color: var(--lignt);
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--var(--white));
    border-radius: 5px;
}

.form-control:focus {
    border-color: var(--lignt);
    outline: none;
}

.auth-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.auth-btns .btn-hotel {
    background: var(--fuscha);
    color: var(--white);
    padding: 10px 20px;
    border: 1px solid var(--fuscha);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.auth-btns .btn-hotel:hover {
    background:none;
    color: var(--fuscha);
}

.alert-danger {
    color: red;
    text-align: center;
    margin-bottom: 20px;
}

.auth-btns span {
    font-size: 14px;
    color: var(--lignt);
}

.auth-btns a {
    color: var(--lignt);
    text-decoration: none;
    font-weight: bold;
}

.auth-btns a:hover {
    color: var(--fuscha);
}

/* Styles responsive */
@media (max-width: 768px) {
    .auth-form {
        flex-direction: column;
        align-items: center;
    }

    .auth-image {
        display: none; /* Cacher l'image sur les petits écrans */
    }

    form {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .btn-hotel {
        width: 100%;
        margin-bottom: 10px;
    }

    .auth-btns span {
        text-align: center;
        width: 100%;
    }
}
